version: '3.8'

services:
  # Redis for BullMQ queues
  redis:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  #apollo gateway
  vehicle-service:
  build: .
  ports:
    - "3000:3000"

volumes:
  redis_data:
